<!doctype html>
<html>
<head>
	<title>Welcome to Mark</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/master.css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/css/animate.css" media="screen" title="no title" charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container">
		<div id="header" class="animated fadeInDown">
		  <div class="container">
		    <div>
		  <nav>
		    <ul>
		      <li><a href="/login">Sign In</a></li>
		      <li><a class="btn" href="/signup">Sign Up Now!</a></li>
		    </ul>
		  </nav>
		</div>
		</div>
		  <div class="container">
		    <div class="headertext animated fadeInDown">
		      <h1>Mark.</h1>
		      <p>A whiteboard collaborative application.<strong> For fun, for work, for interviews</strong>. It's a simple way to share your ideas, work through problems, and play games.</p>
		    </div>
		    </div>
			</div>
	</div>
</body>
</html>
